name: DevSecOps Guardian

on: [push, pull_request]
  
jobs:
#LAYER 1 - SECRET SCAN / SCA
  Vulnerability-triage:
    runs-on: ubuntu-latest #pulls up a virtual linux machine to run tests
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4 #Pulls code into linux machine to make it readable
        with:
          fetch-depth: 0 #Github only looks at most recent, 0 sets this to entire history of project

      - name: GitGuardian Scan
        uses: GitGuardian/ggshield-action@v1.27.0 #Pulls in GitGuardian engine that scans for over 400+ credential types
        env:
          GITGUARDIAN_API_KEY: ${{ secrets.GITGUARDIAN_API_KEY }} #Secure variable that connects to private API key without showing in logs
          
      - name: Dependency Scan (Snyk)
        uses: snyk/actions/node@master # Or python
        env:
          SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
        with:
          args: --severity-threshold=high

#Layer 2 - CODE ANALYSIS (SAST)
  static-analysis:
    needs: Vulnerability-triage #Dependency: if secret scan failed(Ex. Leaked password), this task wont start
    runs-on: ubuntu-latest
    permissions:
      security-events: write #Gives guardian permission to write findings into repo report
    steps:
      - uses: actions/checkout@v4
      - name: Initialize CodeQL
        uses: github/codeql-action/init@v3
        with:
          languages: javascript, typescript, python
      - name: Perform Analysis
        uses: github/codeql-action/analyze@v3
#Layer 3 - IaC (Cloud)
  infrastructure-security:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Checkov (IaC Scan)
        uses: bridgecrewio/checkov-action@master
        with:
          direction: .
          framework: dockerfile, github_actions

      - name: Shield Status
        if: success()
        run: echo "Guardian Shield is Active. Code is secure for deployment."

      - name: Shield Failure
        if: failure()
        run: |
          echo "Security Breach: found vulnerabilities. Deployment Blocked."
          exit 1
        
